{% extends 'layout.html' %}

{% block content %}
<section id="perfil" class="section">
    <div class="container">
        <h1 class="title is-1">Fran Jimenez</h1>
        <h2 class="subtitle is-4">Desde pequeño he mostrado interés por la informática y la tecnología. En cuanto pude,
            me introduje en el mundo de la programación y, desde entonces, supe que me quería dedicar a ello. Me he ido
            formando y me gustaría seguir aprendiendo, desarrollándome y trabajando como programador.</h2>
    </div>
</section>
<div class="content">
    <section id="experiencia" class="section">
        <div class="container">
            <h2 class="title is-3">Experiencia Laboral</h2>
            <div class="box">
                <p class="subtitle is-5">Programador Back-End con COBOL | BBVA IT | 2021 - ACTUALIDAD</p>
                <ul>
                    <li>Metodología Agile</li>
                    <li>Formación en COBOL y HOST TN3270</li>
                </ul>
            </div>
            <div class="box">
                <p class="subtitle is-5">Programador Junior | Hotelbeds | 2019 - 2020</p>
                <ul>
                    <li>Formación en Java</li>
                    <li>QA tester con Selenium</li>
                    <li>Gestión de incidencias</li>
                    <li>Metodología Agile</li>
                    <li>Inicialización en SpringBoot</li>
                </ul>
            </div>
            <!-- Puedes agregar más experiencias laborales -->
        </div>
    </section>

    <section id="educacion" class="section">
        <div class="container">
            <h2 class="title is-3">Educación</h2>
            <div class="box">
                <p class="subtitle is-5">Nombre del Grado | Universidad | Fecha</p>
            </div>
            <!-- Puedes agregar más detalles educativos -->
        </div>
    </section>

    <section id="habilidades" class="section">
        <div class="container">
            <h2 class="title is-3">Habilidades</h2>
            <div class="box">
                <ul>
                    <li>Habilidad 1</li>
                    <li>Habilidad 2</li>
                    <!-- Agrega más habilidades según sea necesario -->
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}