{% extends 'layout.html' %} {% block content %}

<section id="perfil" class="section">
  <div class="container">
    <h1 class="title is-8">Fran Jiménez</h1>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a
            class="navbar-item"
            href="#"
            onclick="scrollToSection('experiencia')"
          >
            Experiencia
          </a>
          <a class="navbar-item" href="#" onclick="scrollToSection('estudios')">
            Estudios
          </a>
          <a
            class="navbar-item"
            href="#"
            onclick="scrollToSection('habilidades')"
          >
            Habilidades
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Mis redes </a>
            <div class="navbar-dropdown">
              <a
                class="navbar-item"
                href="https://www.linkedin.com/in/fran-jimenez-gomez-35b447186/"
                target="_blank"
              >
                Linkedin
              </a>
              <a
                class="navbar-item"
                href="https://github.com/fjimenezJOB"
                target="_blank"
              >
                GitHub
              </a>
              <a
                class="navbar-item"
                href="https://hub.docker.com/u/fjimenezjob"
                target="_blank"
              >
                DockerHub
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>
        <button class="button is-dark" id="modoOscuroBtn" onclick="toggleDarkMode()">Modo oscuro</button>
        <div class="navbar-end"></div>
      </div>
    </nav>
    <section class="section">
      <h2 id="presentación">
        Desde pequeño he mostrado interés por la informática y la tecnología. En
        cuanto pude, me introduje en el mundo de la programación y, desde
        entonces, supe que me quería dedicar a ello. Me he ido formando y me
        gustaría seguir aprendiendo, desarrollándome y trabajando como
        programador.
      </h2>
    </section>
  </div>
</section>
<div class="content">
  <section id="experiencia" class="section">
    <div class="container">
      <h2 class="title is-3">Experiencia Laboral</h2>
      <div class="box">
        <p class="subtitle is-5">
          Programador Back-End con COBOL | BBVA IT | 2021 - ACTUALIDAD
        </p>
        <ul>
          <li>Metodología Agile</li>
          <li>Formación en COBOL y HOST TN3270</li>
        </ul>
      </div>
      <div class="box">
        <p class="subtitle is-5">
          Programador Junior | Hotelbeds | 2019 - 2020
        </p>
        <ul>
          <li>Formación en Java</li>
          <li>QA tester con Selenium</li>
          <li>Gestión de incidencias</li>
          <li>Metodología Agile</li>
          <li>Inicialización en SpringBoot</li>
        </ul>
      </div>
      <!-- Puedes agregar más experiencias laborales -->
    </div>
  </section>

  <section id="estudios" class="section">
    <div class="container">
      <h2 class="title is-3">Estudios</h2>

      <div class="box">
        <p class="subtitle is-5">
          BootCamp - BACKEND | BIT COMPUTER TRAINING | 2021
          <a
            href="https://onedrive.live.com/?authkey=%21AFlI1sbJV4zj0dk&id=7CBE0E9E8BAC20D2%2144361&cid=7CBE0E9E8BAC20D2&parId=root&parQt=sharedby&o=OneUp"
            target="_blank"
          >
            Diploma</a
          >
        </p>
      </div>

      <div class="box">
        <p class="subtitle is-5">
          Programación en lenguajes estructurados de aplicaciones de gestión (
          IFCD0111 ) | Muévete Formación | 2020
          <a
            href="https://onedrive.live.com/?authkey=%21ACjOzy4fmWGR2p8&id=7CBE0E9E8BAC20D2%2133142&cid=7CBE0E9E8BAC20D2&parId=root&parQt=sharedby&o=OneUp"
            target="_blank"
          >
            Diploma</a
          >
        </p>
      </div>
      <div class="box">
        <p class="subtitle is-5">
          Programación con lenguajes orientados a objetos y bases de datos
          relacionales ( IFCD0112 ) | Muévete Formación | 2020
          <a
            href="https://onedrive.live.com/?authkey=%21ACjOzy4fmWGR2p8&id=7CBE0E9E8BAC20D2%2133142&cid=7CBE0E9E8BAC20D2&parId=root&parQt=sharedby&o=OneUp"
            target="_blank"
          >
            Diploma</a
          >
        </p>
      </div>
      <div class="box">
        <p class="subtitle is-5">
          C.F.G.M. - Panadería, Pastelería y Confitería | Escola d'Hotelería i
          Turisme de Lleida | 2014
        </p>
        <ul>
          <li>ERASMUS en Torino (Italia)</li>
        </ul>
      </div>
      <!-- Puedes agregar más detalles educativos -->
    </div>
  </section>

  <section id="habilidades" class="section">
    <div class="container">
      <h2 class="title is-3">Habilidades</h2>
      <div class="box">
        <div class="columns is-desktop">
          <div class="column">
          <ul>
          </div>
          <div class="column">2</div>
          <div class="column">3</div>
          <div class="column">4</div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

  const toggleDarkMode = () => {
    const body = document.body;
    body.classList.toggle('dark-mode');
  };
  
  // Asigna esta función a un botón de cambio de modo oscuro
  const darkModeButton = document.getElementById('darkModeButton');
  darkModeButton.addEventListener('click', toggleDarkMode);

  function scrollToSection(sectionId) {
    var section = document.getElementById(sectionId);
    if (section) {
      section.scrollIntoView({ behavior: "smooth" });
    }
  }
</script>
{% endblock %}
